{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "endOfLine": "lf",
  "useTabs": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false
}
