@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  @variants responsive {
    .masonry-3-col {
      column-count: 3;
    }
    .masonry-2-col {
      column-count: 2;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}
